/***********************************************************************************\
*                                                                                   *
*           _    _     ______   _    _    _   _ ___ ____    ____ ___  __  __        *
*          / \  | |   |__  / | | |  / \  | | | |_ _|  _ \  / ___/ _ \|  \/  |       *
*         / _ \ | |     / /| |_| | / _ \ | |_| || || |_) || |  | | | | |\/| |       *
*        / ___ \| |___ / /_|  _  |/ ___ \|  _  || ||  _ < | |__| |_| | |  | |       *
*       /_/   \_\_____/____|_| |_/_/   \_\_| |_|___|_| \_(_)____\___/|_|  |_|       *
*                                                                                   *
*                                                                                   *
*                          alzhahir.com Standard CSS Style.                         *
*                  For use in productions by Megat Al Zhahir Daniel.                *
*   Copyright Megat Al Zhahir Daniel. This code is licensed under the GNU GPL v3.   *
*   I cannot prevent you from using this code anywhere "unethical" but I will say   *
*   that I will look at you with a squinting eye and a visibly disappointed face.   *
*                                                                                   *
*                                                                                   *
\***********************************************************************************/

@font-face {
    font-family: OpenSans;
    src: local("Open Sans"), local("OpenSans"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/K88pR3goAWT7BTt32Z01mz8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #0f0f0f;
    color: white;
    font-family: OpenSans;
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100%;
    min-height: -webkit-fill-available, -moz-available, fill-available;
}

.headerBar{
    position: fixed;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    flex-shrink: 0;
    top: 0px;
    box-sizing: border-box;
    width: 100vw;
    background-color: #1f1f1f;
    overflow: auto;
    padding: 10px;
    margin: 0px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.headerButton{
    transition-duration: 150ms;
    margin-left:auto;
    padding: 10px;
    font-size: 15px;
    background-color: #1f1f1f;
    color: white;
    cursor: pointer;
    border-color: white;
    border-style: double;
    border-radius: 5px;
    transform: scale(1);
    transition: all 300ms ease-in;
}
.headerButton:hover{
    box-shadow: 0px 0px 20px #f0f0f0;
    transition-duration: 150ms;
    background-color: white;
    color: #1f1f1f;
}
.headerButton:active{
    box-shadow: 0px 0px 20px #aa3e35;
    transition-duration: 50ms;
    background-color: #aa3e35;
    color: white;
    border-color: #aa3e35;
    transform: scale(0.955);
    transition: all 50ms ease-out;
}

.alzlogo{
    height: 50px;
}

.titletext{
    padding-left: 5px;
    font-weight: bolder;
    font-size: 37px;
}

/*Spinner CSS code starts*/
  
.spinner {
    vertical-align: baseline;
    animation: rotator 1.4s linear infinite;
}

circle{
    display: inline;
}

/*These are code used specifically for sirampokok*/
#subjectSpinner{
    margin: auto;
    padding: 20px;
    width: 80px;
    height: 80px;
}

#dateSpinner{
    margin: auto;
    margin-left: 5px;
    width: 16px;
    height: 16px;
}

#statusSpinner{
    margin: auto;
    margin-left: 5px;
    width: 16px;
    height: 16px;
}
  
@keyframes rotator {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(270deg);
    }
}
  
.path {
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}
  
@keyframes colors {
    0% {
      stroke: #4285F4;
    }
    25% {
      stroke: #DE3E35;
    }
    50% {
      stroke: #F7C223;
    }
    75% {
      stroke: #1B9A59;
    }
    100% {
      stroke: #4285F4;
    }
}
  
@keyframes dash {
    0% {
      stroke-dashoffset: 187;
    }
    50% {
      stroke-dashoffset: 46.75;
      transform: rotate(135deg);
    }
    100% {
      stroke-dashoffset: 187;
      transform: rotate(450deg);
    }
}
  
/*Spinner CSS code ends*/


/*Link properties start*/

.titletext:link{
    color: white;
    text-decoration: none;
}

.titletext:visited{
    color: white;
}

/*Link properties end*/

.contents {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 64px;
    margin-bottom: 64px;
    flex: 1 0 auto;
}

.button{
    background-color: #f0f0f0;
    color: #202020;
    padding: 20px;
}

.footerBar{
    position: fixed;
    flex-shrink: 0;
    box-sizing: border-box;
    overflow: auto;
    bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    background-color: #1f1f1f;
    width: 100vw;
    margin: 0;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*
Below are the CSS code for responsive websites. Should work on most screens.
Tested on a 1080x1920 PC laptop Windows 11 screen with 125% scaling as well as Poco X3 NFC.
*/

@media screen and (max-width: 570px){
    .alzlogo{
        height: 30px;
    }
    .titletext{
        font-size: 19px;
    }
    .contents{
        font-size: small;
        margin-top: 50px;
    }
    .footerBar{
        font-size: smaller;
        padding: 10px;
    }
}

@media screen and (max-height: 440px){
    .alzlogo{
        height: 30px;
    }
    .titletext{
        font-size: 19px;
    }
    .contents{
        font-size: small;
        margin-top: 50px;
    }
    .footerBar{
        font-size: smaller;
        padding: 10px;
    }
}